.main{
    margin:1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.details{
    display: flex;
    justify-content:space-around;
    align-items:center;
}