.main{
    gap: 2rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    padding:0.5rem;
}

.details{
    width:100%;
    gap: 2rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.stats{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.question{width:100%;}

.description{width:100%;}