main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.answers {
  margin: 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.answer {
  background-color: #f0f0f0;
  border-radius: 1rem;
  padding: 1rem;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.details {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
